body {
  background-color: black;
}

#calculator {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
  border-color: #7A797A;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

#first-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 250px;
}

#second-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 250px;
}

#third-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 250px;
}
#fourth-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 250px;
}
#fifth-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 250px;
}

#sixth-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 250px;
}
.answer {
  border-top-left-radius: 4px;  
  border-top-right-radius: 4px;
  background-color: #292828;
  text-align: right;
  flex: 1;
  line-height: 70px;
  padding-top: 10px;;
  padding-right: 5px;
  font-size: 2.8em;
}

.medium-gray {
  background-color: #3C3C3D;
  flex: 1;
  text-align: center;
  line-height: 50px;
  font-size: 1.5em;
  border-right-color: #282828;
  border-top-color: #282828;
  border-width: 1px;
  border-right-style: solid;
  border-top-style: solid;
}

.light-gray {
  background-color: #5D5C5C;
  flex: 1;
  text-align: center;
  line-height: 50px;
  font-size: 1.5em;
  border-right-color: #282828;
  border-top-color: #282828;
  border-width: 1px;
  border-right-style: solid;
  border-top-style: solid;
}

.double-box {
  background-color: #5D5C5C;
  flex: 1;
  flex-grow: 2;
  text-align: center;
  line-height: 50px;
  font-size: 1.5em;
  border-right-color: #282828;
  border-top-color: #282828;
  border-width: 1px;
  border-right-style: solid;
  border-top-style: solid;
}

.orange {
  background-color: #ffa31a;
  flex: 1;
  text-align: center;
  line-height: 50px;
  font-size: 1.5em;
  border-top-color: #282828;
  border-width: 1px;
  border-top-style: solid;
}

.orange-bottom {
  background-color: #ffa31a;
  flex: 1;
  text-align: center;
  line-height: 50px;
  font-size: 1.5em;
  border-bottom-right-radius: 4px;
  border-top-color: #282828;
  border-width: 1px;
  border-top-style: solid;
}

.btn, .btn-medium, .btn-orange {
  height: 100%;
  width: 100%;
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.btn:active {
  background-color: rgb(182, 181, 181);
}

.btn-medium:active {
  background-color: #5D5C5C;
}

.btn-orange:active {
  background-color: rgb(141, 94, 7) ;
}